.page {
  display: flex;
  justify-content: center;
}

.page__nav {
  padding-top: 1px;
}

.main {
  width: 600px;
  border-left:  1px solid lightgray;
  border-right: 1px solid lightgray;
}

.aside {
  width: 350px;
  flex-shrink: 0;
  border-right: 1px solid lightgray;
}

.main, aside{
    padding: 10px;
}

.page__main {
  background-color: white;
}

.page__aside {
    background-color: white;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100vh;
}

.nav::before {
  content: "";
  display: block;
  width: 275px;
}

.nav__content-wrapper {
  align-self: flex-end;
  position: fixed;
  width: 275px;
  padding: 0 12px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
}

.nav__logo {
  width: 50px;
  height: 30px;
  color: rgb(29, 155, 240);
  fill: currentColor;
}

.nav__logo-wrapper {
  width: 52px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__logo-wrapper:hover {
  background-color: rgb(29, 155, 240, 0.1);
  border-radius: 9999px;
  cursor: pointer;
}

.menu-item {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.nav__menu {
  list-style-type: none;
}

.menu-item__icon {
  width: 1.75rem;
  height: 1.75rem;
}

#search-icon {
  display: none;
}

.menu-item__link {
  margin: 0 20px 0 16px;
  text-decoration: none;
  color: rgb(15, 20, 25);
  font-size: 20px;
  vertical-align: middle;
}

.menu-item__link--active {
  font-weight: bold;
}

.menu-item__wrapper {
  padding: 12px;
}

.menu-item__wrapper:hover {
  background-color: #909ca81a;
  border-radius: 9999px;
}

.button {
  background-color: lightgray;
  border: 1px solid transparent;
  border: none;
  outline: none;
  padding: 0 16px;
  font-size: 15px;
  border-radius: 9999px;
  font-weight: 600;
  line-height: 20px;
  min-height: 36px;
}

.button--primary {
  background-color: rgb(29, 155, 240);
  color: white;
}

.nav__tweet {
  width: 90%;
  min-height: 52px;
  margin: 4px 0;
  font-size: 17px;
}

.user {
  padding: 12px;
  display: grid;
  grid-template-areas:
    "image name options"
    "image handle options";
  column-gap: 12px;
}

.nav__user {
  margin: 12px 0;
}

.user:hover {
  background-color: #909ca81a;
  border-radius: 9999px;
  cursor: pointer;
}

.user__image {
  grid-area: image;
  width: 38px;
  align-self: center;
}

.user__image > img {
  width: 38px;
  height: 38px;
  border-radius: 100%;
}

.user__name {
  font-weight: bold;
  grid-area: name;
  font-size: 15px;
  white-space: nowrap;
  max-width: calc(100% - 38px - 24px);
  overflow: hidden;
}

.user__handle {
  grid-area: handle;
  font-size: 15px;
  color: rgb(83, 100, 113);
}

.user__options {
  grid-area: options;
  justify-self: end;
  align-self: center;
  width: 24px;
  fill: rgb(15, 20, 25);
}

.nav__tweet-icon {
  display: none;
  width: 24px;
  height: 24px;
  fill: white;
}


/* Main Feed Begins*/



/* .main-feed{
  margin-left: 29%;
  width: 35%;
  height: 96%;
  
}

.right-sidebar{
  border-left: 1px solid lightgrey;
  width: 20%;
  height: 96%;
}

.header{

  display: block;
  border-bottom: 1px solid lightgrey;
  height: 3rem;
  width: 31.5%;
  position: fixed;
  background-color:white;
  z-index: 9999;
}

.header__heading{
  font-size: 1.3rem;
  font-weight: 2000;
  margin-top: 1rem;
  margin-left: 1rem;
}

.header__heading:hover{
  cursor: pointer;
}

.new-tweet-input{
  
  margin-top: 3rem;
  border-bottom: 1px solid lightgrey;
  height: 9rem;
}

.new-tweet-input-header{
  display: flex;
  flex-direction: row;
}

.new-tweet-input__profile-image{
  margin: 1rem 1rem 0 1rem;
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
}

.new-tweet-input__heading{
  color: rgba(73, 73, 73, 0.486);
  font-size: 1.2rem;
  margin: 2rem 1rem 0 0;
}

.new-tweet-input-footer{
  height: 2.5rem;
  margin: 1.5rem 2rem 1rem 5rem;
}

.new-tweet-input-footer__icons{
  margin: 0rem;
  display: flex;
  flex-direction: row;
}

.newtweet-icons{
  margin-right: 1rem;
} */



/* Main Feed Ends */

@media all and (max-width: 992px){

    .aside{
        display: none;
    }
}

@media all and (max-width: 1089px){

    .aside{
        width: 290px;
    }

}

@media all and (max-width: 1019px) {
  .menu-item__link {
    display: none;
  }

  .nav__tweet > span {
    display: none;
  }

  .nav__tweet {
    width: 50px;
    height: 50px;
  }

  .nav__tweet-icon {
    display: block;
  }

  .user > *:not(.user__image) {
    display: none;
  }

  .menu-item{
      justify-content: center;
  }

  .nav__logo-wrapper{
      width: 100%;
  }

  .nav::before{
      width: 88px;
  }

  .nav__content-wrapper {
    width: 88px;
    text-align: center;;
  }

  .user {
    padding: 0;
    column-gap: 0;
    grid-template-areas: "image";
    justify-content: center;
  }

  #search-icon {
    display: block;
  }

  #explore-icon {
    display: none;
  }
}

@media all and (max-width: 480px) {

    .nav::before{
        display: none;
    }

  .nav__logo-wrapper {
    display: none;
  }

  .user,
  .nav__tweet {
    display: none;
  }

  .menu-item:not(.menu-item:first-child, .menu-item:nth-child(2), .menu-item:nth-child(3), .menu-item:nth-child(4)) {
    display: none;
  }

  .nav__content-wrapper {
    position: fixed;
    left: 0;
    right: 0;
    background-color: white;
    width: 100%;
    height: 52px;
    bottom: 0;
  }

  .nav__menu {
    display: flex;
    justify-content: space-between;
  }
}

@media all and (min-width: 481px) and (max-width: 610px){

    .nav::before{
        width: 78px;
    }
  
    .nav__content-wrapper {
      width: 78px;
      text-align: center;;
    }

}

