.page {
  display: flex;
  justify-content: center;
  background-color: white;
}

.page__nav {
  padding-top: 1px;
}

.main {
  width: 600px;
  border-left:  1px solid lightgray;
  border-right: 1px solid lightgray;
  
}

.aside {
  width: 350px;
  flex-shrink: 0;
  border-right: 1px solid lightgray;
}

.main, aside{
    /* padding: 10px; */
}

.page__main {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 2000px;
}

.header{
  border-bottom: 1px solid lightgrey;
  position: sticky;
  top: -0.5px;
  background-color:white;
  z-index: 9999;
  
}

.header-container{
  display: flex;
  justify-content: space-between;
  height: 53px;
  width: 584px;
  z-index: 9999;
  max-width: 1000px;
  padding-left: 16px;
  
}

.header__top-tweets-button{
  min-width: 56px;
  min-height: 32px;
  align-self: stretch;
  -moz-box-pack: center;
  justify-content: center;
  -moz-box-align: end;
  align-items: flex-end;

  -moz-box-direction: normal;
  -moz-box-orient: vertical;
  
  border: 0px solid black;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin: 0px;
  position: relative;
  z-index: 0;
  flex-basis: auto;
  padding: 0px;

}

.top-tweets-button-wrapper{
  
  margin-right: calc(-9px);
  min-width: 36px;
  min-height: 36px;
  box-sizing: border-box;
  border-radius: 100%;
  overflow-wrap: break-word;
}

.top-tweets-button-wrapper:hover{
  background-color: rgba(185, 202, 211, 0.3);
  cursor: pointer;
  line-height: 20px;
}

.top-tweets-icon{
  width: 20px;
  height: 20px;
  padding-left: 6px;
  padding-top: 9px;
}

.header__heading{
  font-size: 1.3rem;
  font-weight: 2000;
  margin-top: 12px;
  
}

.header__heading:hover{
  cursor: pointer;
}




.new-tweet-input{
  
  margin-top: 0;
  border-bottom: 1px solid lightgrey;
  height: 120px;

  
}

.new-tweet-input-header{
  display: flex;
  flex-direction: row;
}

.new-tweet-input__profile-image{
  margin: 5px 10px 0 10px;
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
}

.new-tweet-input__heading{
  color: rgba(73, 73, 73, 0.486);
  font-size: 1.2rem;
  margin: 20px 10px 0 0;
}

.new-tweet-input-footer{
  height: 2.5rem;
  margin: 1.5rem 2rem 1rem 5rem;
}

.new-tweet-input-footer__icons{
  margin: 0rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.svg-buttons{
  margin-right: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.svg-buttons__wrapper{
  
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.svg-buttons__wrapper:hover{
  background-color:rgba(29, 155, 240, 0.1);
  border-radius: 100%;
}

.newtweet-icons{
  
  width: 20px;
  height: 20px;
  color: rgb(29, 155, 240);
  fill: currentColor;
}

.secondary-button{
  background-color: rgb(29, 155, 240);

}

.status-button{
  border: none;
  margin-top: 8px;
  background-color:unset;
  color: white;
  font-weight: 700;
}


.button-secondary{
  
  min-width: 36px;
  min-height: 36px;
  padding: 0 16px 0 16px;
  background-color: rgb(29, 155, 240);
  opacity: 0.5;
  border-radius: 50px;
  width: 80px;
  cursor: pointer;
}





.page__aside {
    background-color: white;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100vh;
}

.nav::before {
  content: "";
  display: block;
  width: 275px;
}

.nav__content-wrapper {
  align-self: flex-end;
  position: fixed;
  width: 275px;
  padding: 0 12px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
}

.nav__logo {
  width: 50px;
  height: 30px;
  color: rgb(29, 155, 240);
  fill: currentColor;
}

.nav__logo-wrapper {
  width: 52px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__logo-wrapper:hover {
  background-color: rgb(29, 155, 240, 0.1);
  border-radius: 9999px;
  cursor: pointer;
}

.menu-item {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.nav__menu {
  list-style-type: none;
}

.menu-item__icon {
  width: 1.75rem;
  height: 1.75rem;
}

#search-icon {
  display: none;
}

.menu-item__link {
  margin: 0 20px 0 16px;
  text-decoration: none;
  color: rgb(15, 20, 25);
  font-size: 20px;
  vertical-align: middle;
}

.menu-item__link--active {
  font-weight: bold;
}

.menu-item__wrapper {
  padding: 12px;
}

.menu-item__wrapper:hover {
  background-color: #909ca81a;
  border-radius: 9999px;
}

.button {
  background-color: lightgray;
  border: 1px solid transparent;
  border: none;
  outline: none;
  padding: 0 16px;
  font-size: 15px;
  border-radius: 9999px;
  font-weight: 600;
  line-height: 20px;
  min-height: 36px;
}

.button--primary {
  background-color: rgb(29, 155, 240);
  color: white;
}


.nav__tweet {
  width: 90%;
  min-height: 52px;
  margin: 4px 0;
  font-size: 17px;
}

.user {
  padding: 12px;
  display: grid;
  grid-template-areas:
    "image name options"
    "image handle options";
  column-gap: 12px;
}

.nav__user {
  margin: 12px 0;
}

.user:hover {
  background-color: #909ca81a;
  border-radius: 9999px;
  cursor: pointer;
}

.user__image {
  grid-area: image;
  width: 38px;
  align-self: center;
}

.user__image > img {
  width: 38px;
  height: 38px;
  border-radius: 100%;
}

.user__name {
  font-weight: bold;
  grid-area: name;
  font-size: 15px;
  white-space: nowrap;
  max-width: calc(100% - 38px - 24px);
  overflow: hidden;
}

.user__handle {
  grid-area: handle;
  font-size: 15px;
  color: rgb(83, 100, 113);
}

.user__options {
  grid-area: options;
  justify-self: end;
  align-self: center;
  width: 24px;
  fill: rgb(15, 20, 25);
}

.nav__tweet-icon {
  display: none;
  width: 24px;
  height: 24px;
  fill: white;
}


/* Main Feed Begins*/



/* .main-feed{
  margin-left: 29%;
  width: 35%;
  height: 96%;
  
}

.right-sidebar{
  border-left: 1px solid lightgrey;
  width: 20%;
  height: 96%;
}

*/



/*

.new-tweet-input{
  
  margin-top: 3rem;
  border-bottom: 1px solid lightgrey;
  height: 9rem;
}

.new-tweet-input-header{
  display: flex;
  flex-direction: row;
}

.new-tweet-input__profile-image{
  margin: 1rem 1rem 0 1rem;
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
}

.new-tweet-input__heading{
  color: rgba(73, 73, 73, 0.486);
  font-size: 1.2rem;
  margin: 2rem 1rem 0 0;
}

.new-tweet-input-footer{
  height: 2.5rem;
  margin: 1.5rem 2rem 1rem 5rem;
}

.new-tweet-input-footer__icons{
  margin: 0rem;
  display: flex;
  flex-direction: row;
}

.newtweet-icons{
  margin-right: 1rem;
} */



/* Main Feed Ends */


/* Begin - newsfeed */


.tweet-container{
  margin-top: 0.5rem;
  height: 544px;
  background-color: white;
}

.tweet:hover{
  background-color: #ecececc4;
}

.tweet{
  /* border-bottom: 1px solid lightgrey; */
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content:end;
  border-bottom: 1px solid rgba(185, 202, 211, 0.3);
  
}

.tweet-newsfeed{
  /* border-top: 1px solid lightgrey; */
    
  height: 100%;
  display: flex;
  flex-direction: row;
  
}

.tweet:hover{
  /* background-color: rgb(233, 233, 233, 0.3); */
  cursor: pointer;
}


.tweet__author-img{
/*   border: 1px solid red; */
  padding: 10px;
  height: 79%;
}

.author-img{
  position: relative;
  height: 3rem;
  border-radius: 100%;
}

.author-img:hover{
  box-shadow: 1px 1px 1px 1px #808080;

}


.publisher-heading{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 20px;
}

.publisher-heading-left{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.publisher-heading-right__more{
  width: 18.75px;
  height: 18.75px;
}

.publisher-heading-items{
  padding-right: 5px;
  
}

.hv-underline:hover{
  text-decoration: underline;
}

.cl-grey{
  color: rgb(83, 100, 113);
  fill: currentColor;
  font-size: 13px;
}

.controller{
  display: flex;
  align-items: center;
}

.svg-wrapper{
  position: relative;
  width: 32px;
  height: 32px;
  padding-left: 7px;
  padding-top: 5px;

}

.cl-grey:hover{
  
}

.camount{
  margin-left: 10px;
}

.creply:hover{
  color: rgb(29, 155, 240);
  fill: currentColor;
  
}

.svg-wrapper-reply:hover{
  background-color: rgba(29, 155, 240, 0.2);
  border-radius: 20px;

}

.cretweet:hover{
  color: rgb(21, 206, 166);
  fill: currentColor;
}

.svg-wrapper-retweet:hover{
  background-color: rgba(21, 206, 166, 0.2);
  border-radius: 20px;

}

.clike:hover{
  color: rgb(202, 85, 64);
  fill: currentColor;
}

.svg-wrapper-like:hover{
  background-color: rgba(202, 85, 64, 0.2);
  border-radius: 20px;

}

.cshare:hover{
  color: rgb(29, 155, 240);
  fill: currentColor;
}

.svg-wrapper-share:hover{
  background-color: rgba(29, 155, 240, 0.2);
  border-radius: 20px;

}

.publisher-heading__name{
  font-weight: bold;
}

.publisher-heading__name:hover{
  text-decoration: underline;
}

.verified-profile-svg{
  width: 16.43px;
  height: 16.42px;
  color: rgb(29, 155, 240);
  fill: currentColor;
}

.article-figure-container{
  -moz-box-direction: normal;
  -moz-box-orient: vertical;
  align-items: stretch;
  border: 0px solid black;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin: 0px;
  min-height: 0px;
  min-width: 0px;
  position: relative;
  z-index: 0;
  -moz-box-align: stretch;
  flex-basis: auto;
  padding: 0px;
  cursor: pointer;
}

.article-figure-container{
  border-radius: 16px;
  overflow: hidden;
  outline-style: none;
  border-color: rgb(207, 217, 222);
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
  height: 386px;
  width: 504px;
  
}

.container__figure{
  
  display: flex;
  flex-direction: column;
}

.article-figure-wrapper{
  position: relative;
  width: 100%;
  height: 100%;
  margin-left: 0px;
  margin-top: 0px;

}

.article-figure{
  width: 504px;
  height: 263px;
 
    
}

.container__link{
  display: flex;
  flex-direction: column;
  padding: 12px;
  margin-top: -10px;
}

.container__link:hover{
  background-color: rgb(72, 128, 172, 0.1);
}

.brief-desc{
  color: rgb(83, 100, 113);
}

.url-link{
  display: flex;
  flex-direction: row;
}

.tweet__article-container{
  /* border: 1px solid blue; */
  height: 85%;
  width: 100%;
  margin-top: 10px;
  
}

.attachment-svg{
  width: 16.25px;
  height: 16.25px;
  color: rgb(83, 100, 113);
  fill: currentColor;
}

.attachment-link{
  color: rgb(83, 100, 113);
  fill: currentColor;
}

.figure{
  width: 504px;
  height: 263px;
}

.container__content{
  font-family: inherit;
  font-size: 15px;
  color: black;
  width: 500px;
  padding-bottom: 12px;
}

.tweet__controllers{
  display: flex;
  justify-content: space-evenly;
}

.controllers{
  margin-left: 17%;
 
}

.controller-svg{
  width: 18.75px;
  height: 18.75px;
  
}




/* End- news feed */

@media all and (max-width: 699px){
  .newtweet-icons:not(:nth-child(1), :nth-child(2), :nth-child(4)){
    display: none;
  }
}

@media all and (max-width: 992px){

    .aside{
        display: none;
    }
}

@media all and (max-width: 1089px){

    .aside{
        width: 290px;
    }

}

@media all and (max-width: 1019px) {
  .menu-item__link {
    display: none;
  }

  .nav__tweet > span {
    display: none;
  }

  .nav__tweet {
    width: 50px;
    height: 50px;
  }

  .nav__tweet-icon {
    display: block;
  }

  .user > *:not(.user__image) {
    display: none;
  }

  .menu-item{
      justify-content: center;
  }

  .nav__logo-wrapper{
      width: 100%;
  }

  .nav::before{
      width: 88px;
  }

  .nav__content-wrapper {
    width: 88px;
    text-align: center;;
  }

  .user {
    padding: 0;
    column-gap: 0;
    grid-template-areas: "image";
    justify-content: center;
  }

  #search-icon {
    display: block;
  }

  #explore-icon {
    display: none;
  }
}

@media all and (max-width: 480px) {

    .nav::before{
        display: none;
    }

  .nav__logo-wrapper {
    display: none;
  }

  .user,
  .nav__tweet {
    display: none;
  }

  .menu-item:not(.menu-item:first-child, .menu-item:nth-child(2), .menu-item:nth-child(3), .menu-item:nth-child(4)) {
    display: none;
  }

  .nav__content-wrapper {
    position: fixed;
    left: 0;
    right: 0;
    background-color: white;
    width: 100%;
    height: 52px;
    bottom: 0;
  }

  .nav__menu {
    display: flex;
    justify-content: space-between;
  }
}

@media all and (min-width: 481px) and (max-width: 610px){

    .nav::before{
        width: 78px;
    }
  
    .nav__content-wrapper {
      width: 78px;
      text-align: center;;
    }

}

